.container {
    color: black;
}

.Contact-Header {
    text-align: center;
    margin-bottom: 5vh;
}

.Contact-Form {
    align-self: center;
}

.checkbox {
    margin-left: 10px;
    right: 0;
    position: absolute;
}

.form-center {
    width: 50%;
    margin: 0 auto;
}

.consultation-checkboxes {
    margin-bottom: 2rem;
}