* {
  animation: fadein 1s;
  moz-animation: fadein 1s;
  ms-animation: fadein 1s;
  o-animation: fadein 1s;
  webkit-animation: fadein 1s;
}
.account-title {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 5vh;
  margin-top: 5vh;
  text-align: center;
}
.account-form {
  padding: 0;
  max-width: 100vw;
}
@media screen and (max-width: 768px) {
  .account-form {
    flex-direction: column;
  }
}
.adminPage {
  margin-top: 15vh;
}
.adminLinks {
  margin-top: 15vh;
  color: black;
}
.App {
  position: relative;
}
.App,
.HeroButton {
  text-align: center;
}
.BodyText {
  color: #000;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  min-height: 100%;
  height: 75vh;
}
@media only screen and (max-width: 768px) {
  .BodyText {
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    font-size: large;
  }
}
.BottomText {
  background-color: #010609;
  color: #fff;
  font-size: small;
  font-style: italic;
  position: fixed;
  text-align: right;
  width: 100vw;
  max-width: 100%;
  bottom: 0;
}
@media only screen and (max-width: 768px) {
  .BottomText {
    text-align: center;
  }
}
.button {
  background-color: #e85a4f;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 0;
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 400ms, 400ms, 400ms;
  transition-property: background-color, opacity, color;
  transition-timing-function: ease, ease, ease;
}
.button {
  display: inline-block;
}
.button.cc-jumbo-button {
  border-radius: 10px;
  font-size: 14px;
  line-height: 26px;
  padding: 16px 35px;
}
.button.cc-jumbo-button.cc-jumbo-white {
  background-color: #e85a4f;
  color: #000;
  opacity: 1;
}
.button:active {
  transform: scale(0.95);
}
.center-title {
  position: absolute;
  top: 10%;
}
@media only screen and (max-width: 768px) {
  .center-title {
    top: 10%;
  }
}
.checkbox {
  margin-left: 10px;
  max-width: 50px;
}
.consultation-checkboxes {
  margin-bottom: 2rem;
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
}
.Contact-Form {
  align-self: center;
}
.Contact-Header {
  margin-bottom: 5vh;
  text-align: center;
}
.container {
  color: #000;
}
.container {
  margin-left: 10vw;
  margin-right: 10vw;
  max-width: 100vw;
}
@media only screen and (max-width: 768px) {
  .container {
    margin-left: 5vw;
    margin-right: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
.tableButton1 {
  padding: 12px 15px;
  background-color: #eee;
  color: black;
  border-style: none;
  cursor: pointer;
}
.tableButton2 {
  padding: 12px 15px;
  background-color: #e85a4f;
  color: white;
  border-style: none;
  cursor: pointer;
}
.form-center {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .form-center {
    width: 90%;
  }
}
.form-control {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 400px;
}
@media only screen and (max-width: 768px) {
  .form-control {
    width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .form-control {
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  .form-section {
    width: 100%;
    margin-top: 0;
  }
}
.grid {
  display: grid;
  grid-gap: 59px 79px;
  grid-template-areas: "Area-2 . Area";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.grid-items {
  color: #000;
  grid-area: span 1 / span 1 / span 1 / span 1;
}
@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
    grid-template-areas: none;
    margin-bottom: 5vh;
  }
}
.Header {
  background-color: #fff;
  max-height: 55px;
  padding: 10px 50px;
}
@media only screen and (max-width: 600px) {
  .Header {
    padding: 0;
  }
}
.Heading {
  font-size: 32px;
  margin-top: 30vh;
}
.Heading,
.center-title,
form {
  text-align: center;
}
.HeroButton {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100vw;
  width: -webkit-fill-available;
}
.hero-image,
html {
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  .hero-image {
    width: 100%;
  }
}
.innerForm {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
}
.intro-text {
  color: #fff;
}
.left {
  margin-left: 15vw;
  margin-right: 5vw;
}
.left,
.right {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .login {
    display: none;
  }
}
.MainPage {
  color: #000;
}
.Menu {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: space-between;
  z-index: 0;
}
@media screen and (max-width: 600px) {
  .menubar {
  }
}
@media screen and (max-width: 600px) {
  .Header {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .Header {
    padding: 20px 30px;
  }
}
.navigation-item {
  align-self: auto;
  color: red;
  flex: 0 1 auto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  opacity: 1;
  order: 0;
  padding: 9px 25px;
  text-transform: uppercase;
}
.navigation-item [a] {
  padding: 9px 25px;
}
.navigation-item,
body {
  font-family: Montserrat, sans-serif;
}
@media screen and (max-width: 768px) {
  .navigation-items {
    display: none;
  }
}
.register-button {
  margin-top: 83vh;
  top: 10%;
  position: absolute;
}
@media screen and (max-width: 1366px) {
  .register-button {
    top: 10%;
  }
}
@media screen and (max-width: 768px) {
  .register-button {
    position: unset;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
.change-button {
  margin-top: 83vh;
  top: 15%;
  position: absolute;
  width: 150px;
}
@media screen and (max-width: 1366px) {
  .change-button {
    margin-top: 85vh;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .change-button {
    margin-top: 50vh;
  }
}
@media screen and (max-width: 768px) {
  .change-button {
    margin-top: 60vh;
  }
}
@media screen and (max-width: 768px) {
  .change-button {
    margin-top: 75vh;
    top: 60%;
  }
}
.select-item {
  background-color: #eee;
  border: 0;
  margin-top: 10px;
  padding: 12px 15px;
}
.split {
  margin-top: 20vh;
  overflow-x: hidden;
  top: 0;
  z-index: 1;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .split {
    /* margin-top: 10vh;
    width: 70vw; */
    height: auto;
  }
}
.right {
  margin-right: 15vw;
}
@media screen and (max-width: 768px) {
  .left {
    margin-left: 0;
    margin-right: 0;
  }
  .right {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}
.sendEmail {
  margin-top: 3vh;
  width: auto;
}
.w-inline-block {
  display: inline-block;
  max-width: 100%;
}
.w-nav-link {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-decoration: none;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a {
  display: block;
  text-decoration: none;
  transition-duration: 200ms;
  transition-property: opacity;
  transition-timing-function: ease;
}
body {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  moz-osx-font-smoothing: grayscale;
  webkit-font-smoothing: antialiased;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 50px;
}
h1,
p {
  margin: 0;
}
html {
  background: url(/src/CSS/shapes.svg) no-repeat center center fixed;
  width: 100%;
  background-size: cover;
  height: 0;
  padding: 0;
}
input {
  background-color: #eee;
  border: 0;
  margin: 8px 0;
  padding: 12px 15px;
  width: 80%;
}
td {
  padding: 5px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 5vw;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
	
	/*
	Label the data
	*/
	td.clientTable:nth-of-type(1):before { content: "Client Name"; }
	td.clientTable:nth-of-type(2):before { content: "Client Email"; }
	td.clientTable:nth-of-type(3):before { content: "Delete Client"; }
	td.clientTable:nth-of-type(4):before { content: "View Policies"; }
	td.clientTable:nth-of-type(5):before { content: "Insert Summary"; }
	td.clientTable:nth-of-type(6):before { content: "Submit"; }

  td.policiesTable:nth-of-type(1):before { content: "Policy Number"; }
	td.policiesTable:nth-of-type(2):before { content: "Provider"; }
	td.policiesTable:nth-of-type(3):before { content: "Type"; }
	td.policiesTable:nth-of-type(4):before { content: "Coverage"; }
	td.policiesTable:nth-of-type(5):before { content: "View Policy"; }
	td.policiesTable:nth-of-type(6):before { content: "Request Assistance"; }
}