@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a {
  display: block;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  color: rgb(26, 27, 31);
  text-decoration: underline;
}

.Header {
  background-color: white;
  padding: 10px 50px 10px 50px;
  max-height: 55px;
}

.Menu {
  inset: 0%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.navigation-item {
  padding: 9px 25px;
  align-self: auto;
  order: 0;
  flex: 0 1 auto;
  opacity: 1;
  color: red;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.navigation-item [a] {
  padding: 9px 25px 9px 25px;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.button {
  margin-top: 0px;
  padding: 12px 25px;
  border-radius: 10px;
  background-color: rgb(232, 90, 79);
  transition-property: background-color, opacity, color;
  transition-duration: 400ms, 400ms, 400ms;
  transition-timing-function: ease, ease, ease;
  color: white;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}